body{
    background-color:bisque;
}

.abc{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container text-center my-5 .input{
    text-align: center;
    /* display: contents; */
}
